In [198]:
import numpy as np
import pandas as pd

In [199]:
train=pd.read_csv("train.csv")

In [200]:
test=pd.read_csv("test.csv")

In [201]:
train.shape

(58645, 13)

In [202]:
test.shape

(39098, 12)

In [203]:
train

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58640,58640,34,120000,MORTGAGE,5.0,EDUCATION,D,25000,15.95,0.21,Y,10,0
58641,58641,28,28800,RENT,0.0,MEDICAL,C,10000,12.73,0.35,N,8,1
58642,58642,23,44000,RENT,7.0,EDUCATION,D,6800,16.00,0.15,N,2,1
58643,58643,22,30000,RENT,2.0,EDUCATION,A,5000,8.90,0.17,N,3,0
58644,58644,31,75000,MORTGAGE,2.0,VENTURE,B,15000,11.11,0.20,N,5,0

In [204]:
test

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,58645,23,69000,RENT,3.0,HOMEIMPROVEMENT,F,25000,15.76,0.36,N,2
1,58646,26,96000,MORTGAGE,6.0,PERSONAL,C,10000,12.68,0.10,Y,4
2,58647,26,30000,RENT,5.0,VENTURE,E,4000,17.19,0.13,Y,2
3,58648,33,50000,RENT,4.0,DEBTCONSOLIDATION,A,7000,8.90,0.14,N,7
4,58649,26,102000,MORTGAGE,8.0,HOMEIMPROVEMENT,D,15000,16.32,0.15,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
39093,97738,22,31200,MORTGAGE,2.0,DEBTCONSOLIDATION,B,3000,10.37,0.10,N,4
39094,97739,22,48000,MORTGAGE,6.0,EDUCATION,A,7000,6.03,0.15,N,3
39095,97740,51,60000,MORTGAGE,0.0,PERSONAL,A,15000,7.51,0.25,N,25
39096,97741,22,36000,MORTGAGE,4.0,PERSONAL,D,14000,15.62,0.39,Y,4
39097,97742,31,45000,RENT,6.0,DEBTCONSOLIDATION,B,19450,9.91,0.44,N,9

In [205]:
train.isna().sum()

id                            0
person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
loan_status                   0
dtype: int64

In [206]:
train

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58640,58640,34,120000,MORTGAGE,5.0,EDUCATION,D,25000,15.95,0.21,Y,10,0
58641,58641,28,28800,RENT,0.0,MEDICAL,C,10000,12.73,0.35,N,8,1
58642,58642,23,44000,RENT,7.0,EDUCATION,D,6800,16.00,0.15,N,2,1
58643,58643,22,30000,RENT,2.0,EDUCATION,A,5000,8.90,0.17,N,3,0
58644,58644,31,75000,MORTGAGE,2.0,VENTURE,B,15000,11.11,0.20,N,5,0

In [207]:
train['person_home_ownership'].unique()

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER'], dtype=object)

In [208]:
train['loan_intent'].unique()

array(['EDUCATION', 'MEDICAL', 'PERSONAL', 'VENTURE', 'DEBTCONSOLIDATION',
       'HOMEIMPROVEMENT'], dtype=object)

In [209]:
train['loan_grade'].unique()

array(['B', 'C', 'A', 'D', 'E', 'F', 'G'], dtype=object)

In [210]:
train['cb_person_default_on_file'].unique()

array(['N', 'Y'], dtype=object)

In [211]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(train.drop('loan_status',axis=1),train['loan_status'],test_size=0.2,random_state=56)

In [212]:
from sklearn.preprocessing import OneHotEncoder

In [213]:
oc=OneHotEncoder(drop='first',dtype=np.int32)
X_train_new=oc.fit_transform(X_train[['person_home_ownership','loan_intent','loan_grade','cb_person_default_on_file']]).toarray()
X_test_new=oc.transform(X_test[['person_home_ownership','loan_intent','loan_grade','cb_person_default_on_file']]).toarray()

In [214]:
X_train_new.shape

(46916, 15)

In [215]:
X_test_new

array([[0, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]])

In [216]:
X_train.head()

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
938,938,23,35000,RENT,0.0,VENTURE,B,5600,11.11,0.16,N,3
5450,5450,23,36000,RENT,2.0,PERSONAL,A,1500,5.99,0.04,N,3
8358,8358,39,54000,RENT,9.0,PERSONAL,B,10000,11.71,0.19,N,12
50660,50660,27,60000,RENT,11.0,EDUCATION,A,8000,7.66,0.13,N,8
22091,22091,27,62000,MORTGAGE,4.0,HOMEIMPROVEMENT,C,12000,13.43,0.19,N,10

In [217]:
X_train_new.shape

(46916, 15)

In [218]:
encoded_feature_names = oc.get_feature_names_out(['person_home_ownership', 'loan_intent', 'loan_grade', 'cb_person_default_on_file'])

In [219]:
encoded_feature_names

array(['person_home_ownership_OTHER', 'person_home_ownership_OWN',
       'person_home_ownership_RENT', 'loan_intent_EDUCATION',
       'loan_intent_HOMEIMPROVEMENT', 'loan_intent_MEDICAL',
       'loan_intent_PERSONAL', 'loan_intent_VENTURE', 'loan_grade_B',
       'loan_grade_C', 'loan_grade_D', 'loan_grade_E', 'loan_grade_F',
       'loan_grade_G', 'cb_person_default_on_file_Y'], dtype=object)

In [220]:
X_train_encoded_df = pd.DataFrame(X_train_new, columns=encoded_feature_names)

In [221]:
X_test_encoded_df = pd.DataFrame(X_test_new, columns=encoded_feature_names)

In [222]:
X_train_encoded_df.shape

(46916, 15)

In [223]:
X_train

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
938,938,23,35000,RENT,0.0,VENTURE,B,5600,11.11,0.16,N,3
5450,5450,23,36000,RENT,2.0,PERSONAL,A,1500,5.99,0.04,N,3
8358,8358,39,54000,RENT,9.0,PERSONAL,B,10000,11.71,0.19,N,12
50660,50660,27,60000,RENT,11.0,EDUCATION,A,8000,7.66,0.13,N,8
22091,22091,27,62000,MORTGAGE,4.0,HOMEIMPROVEMENT,C,12000,13.43,0.19,N,10
...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25835,32,39000,RENT,3.0,DEBTCONSOLIDATION,A,9000,7.49,0.23,N,7
46498,46498,43,48000,MORTGAGE,3.0,VENTURE,D,3000,14.84,0.06,N,11
3264,3264,26,52000,RENT,9.0,HOMEIMPROVEMENT,A,20000,7.49,0.38,N,3
33167,33167,31,77940,MORTGAGE,3.0,DEBTCONSOLIDATION,B,16250,10.99,0.21,N,8
35300,35300,22,48000,MORTGAGE,0.0,VENTURE,A,5000,7.14,0.10,N,2

In [224]:
categorical_columns = ['person_home_ownership', 'loan_intent', 'loan_grade', 'cb_person_default_on_file']
X_train_without_categorical = X_train.drop(categorical_columns, axis=1)

In [225]:
X_test_without_categorical = X_test.drop(categorical_columns, axis=1)

In [226]:
X_train_final = pd.concat([X_train_without_categorical.reset_index(drop=True), X_train_encoded_df.reset_index(drop=True)], axis=1)

In [227]:
X_train_final

,id,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_OTHER,person_home_ownership_OWN,...,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G,cb_person_default_on_file_Y
0,938,23,35000,0.0,5600,11.11,0.16,3,0,0,...,0,0,1,1,0,0,0,0,0,0
1,5450,23,36000,2.0,1500,5.99,0.04,3,0,0,...,0,1,0,0,0,0,0,0,0,0
2,8358,39,54000,9.0,10000,11.71,0.19,12,0,0,...,0,1,0,1,0,0,0,0,0,0
3,50660,27,60000,11.0,8000,7.66,0.13,8,0,0,...,0,0,0,0,0,0,0,0,0,0
4,22091,27,62000,4.0,12000,13.43,0.19,10,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46911,25835,32,39000,3.0,9000,7.49,0.23,7,0,0,...,0,0,0,0,0,0,0,0,0,0
46912,46498,43,48000,3.0,3000,14.84,0.06,11,0,0,...,0,0,1,0,0,1,0,0,0,0
46913,3264,26,52000,9.0,20000,7.49,0.38,3,0,0,...,0,0,0,0,0,0,0,0,0,0
46914,33167,31,77940,3.0,16250,10.99,0.21,8,0,0,...,0,0,0,1,0,0,0,0,0,0
46915,35300,22,48000,0.0,5000,7.14,0.10,2,0,0,...,0,0,1,0,0,0,0,0,0,0

In [269]:
from sklearn.preprocessing import StandardScaler

In [228]:
X_test_final = pd.concat([X_test_without_categorical.reset_index(drop=True), X_test_encoded_df.reset_index(drop=True)], axis=1)

In [229]:
X_test_final

,id,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_OTHER,person_home_ownership_OWN,...,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G,cb_person_default_on_file_Y
0,36635,28,84000,4.0,6000,11.71,0.07,6,0,0,...,0,0,0,1,0,0,0,0,0,0
1,33404,25,60000,8.0,2500,13.49,0.04,4,0,0,...,0,1,0,0,1,0,0,0,0,0
2,31990,26,30000,4.0,11500,15.62,0.38,3,0,0,...,1,0,0,0,0,1,0,0,0,1
3,11957,26,100000,6.0,20000,13.79,0.20,4,0,0,...,0,1,0,0,1,0,0,0,0,0
4,21502,22,50000,4.0,5000,10.99,0.10,3,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11724,36202,25,30000,9.0,8875,5.42,0.30,4,0,0,...,0,0,0,0,0,0,0,0,0,0
11725,13332,40,48000,5.0,5000,7.51,0.10,16,0,0,...,0,0,0,0,0,0,0,0,0,0
11726,34243,29,90000,6.0,10000,11.71,0.11,8,0,0,...,1,0,0,1,0,0,0,0,0,0
11727,6126,23,39996,7.0,2000,11.49,0.05,3,0,0,...,1,0,0,1,0,0,0,0,0,0
11728,56472,22,50000,6.0,10200,7.90,0.21,2,0,0,...,1,0,0,0,0,0,0,0,0,0

In [270]:
sc=StandardScaler()
sc.fit(X_train_final)
X_train_final_scaled=sc.transform(X_train_final)
X_test_final_scaled=sc.transform(X_test_final)

In [273]:
X_train_scaled=pd.DataFrame(X_train_final_scaled,columns=X_train_final.columns)
X_test_scaled=pd.DataFrame(X_test_final_scaled,columns=X_test_final.columns)

In [ ]:
# X_train_scaled.drop('id',axis=1,inplace=True)
# X_test_scaled.drop('id',axis=1,inplace=True)

In [277]:
from sklearn.linear_model import LogisticRegression

In [278]:
log=LogisticRegression()
log.fit(X_train_scaled,y_train)

LogisticRegression()

In [279]:
X_test_scaled.shape

(11729, 22)

In [280]:
y_pred=log.predict(X_test_scaled)

In [235]:
from sklearn.metrics import accuracy_score

In [281]:
accuracy_score(y_test,y_pred)

0.9135476170176485

In [282]:
X_test_scaled.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,...,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G,cb_person_default_on_file_Y
0,0.072205,0.542646,-0.178473,-0.577482,0.339949,-0.973872,0.043811,-0.038099,-0.237848,0.955748,...,-0.478375,-0.455721,-0.453399,1.370182,-0.481602,-0.307709,-0.132379,-0.049354,-0.023548,-0.417327
1,-0.425530,-0.106132,0.838715,-1.206367,0.926525,-1.301550,-0.453148,-0.038099,-0.237848,-1.046301,...,-0.478375,2.194327,-0.453399,-0.729830,2.076402,-0.307709,-0.132379,-0.049354,-0.023548,-0.417327
2,-0.259618,-0.917103,-0.178473,0.410767,1.628439,2.412129,-0.701628,-0.038099,-0.237848,0.955748,...,2.090408,-0.455721,-0.453399,-0.729830,-0.481602,3.249825,-0.132379,-0.049354,-0.023548,2.396200
3,-0.259618,0.975164,0.330121,1.938061,1.025386,0.446064,-0.453148,-0.038099,-0.237848,0.955748,...,-0.478375,2.194327,-0.453399,-0.729830,2.076402,-0.307709,-0.132379,-0.049354,-0.023548,-0.417327
4,-0.923265,-0.376456,-0.178473,-0.757163,0.102682,-0.646195,-0.701628,-0.038099,-0.237848,-1.046301,...,-0.478375,-0.455721,-0.453399,1.370182,-0.481602,-0.307709,-0.132379,-0.049354,-0.023548,-0.417327

In [283]:
len([30,78000,3.5,5500,12.45,0.05,5,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1])

22

In [284]:
log.predict(np.array([30, 78000, 3.5, 5500, 12.45, 0.05, 5, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1]).reshape(1, -1))

c:\Users\hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [285]:
test.shape

(39098, 12)

In [286]:
test

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,58645,23,69000,RENT,3.0,HOMEIMPROVEMENT,F,25000,15.76,0.36,N,2
1,58646,26,96000,MORTGAGE,6.0,PERSONAL,C,10000,12.68,0.10,Y,4
2,58647,26,30000,RENT,5.0,VENTURE,E,4000,17.19,0.13,Y,2
3,58648,33,50000,RENT,4.0,DEBTCONSOLIDATION,A,7000,8.90,0.14,N,7
4,58649,26,102000,MORTGAGE,8.0,HOMEIMPROVEMENT,D,15000,16.32,0.15,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
39093,97738,22,31200,MORTGAGE,2.0,DEBTCONSOLIDATION,B,3000,10.37,0.10,N,4
39094,97739,22,48000,MORTGAGE,6.0,EDUCATION,A,7000,6.03,0.15,N,3
39095,97740,51,60000,MORTGAGE,0.0,PERSONAL,A,15000,7.51,0.25,N,25
39096,97741,22,36000,MORTGAGE,4.0,PERSONAL,D,14000,15.62,0.39,Y,4
39097,97742,31,45000,RENT,6.0,DEBTCONSOLIDATION,B,19450,9.91,0.44,N,9

In [287]:
oc=OneHotEncoder(drop='first',dtype=np.int32)
test_new=oc.fit_transform(test[['person_home_ownership','loan_intent','loan_grade','cb_person_default_on_file']]).toarray()

In [288]:
test_new

array([[0, 0, 1, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 0]])

In [289]:
test_encoded_df = pd.DataFrame(test_new, columns=encoded_feature_names)

In [290]:
test_encoded_df

,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G,cb_person_default_on_file_Y
0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1
2,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1
3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39093,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
39094,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
39095,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
39096,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1
39097,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0

In [291]:
categorical_columns = ['person_home_ownership', 'loan_intent', 'loan_grade', 'cb_person_default_on_file']
test_without_categorical = test.drop(categorical_columns, axis=1)

In [292]:
test_without_categorical

,id,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
0,58645,23,69000,3.0,25000,15.76,0.36,2
1,58646,26,96000,6.0,10000,12.68,0.10,4
2,58647,26,30000,5.0,4000,17.19,0.13,2
3,58648,33,50000,4.0,7000,8.90,0.14,7
4,58649,26,102000,8.0,15000,16.32,0.15,4
...,...,...,...,...,...,...,...,...
39093,97738,22,31200,2.0,3000,10.37,0.10,4
39094,97739,22,48000,6.0,7000,6.03,0.15,3
39095,97740,51,60000,0.0,15000,7.51,0.25,25
39096,97741,22,36000,4.0,14000,15.62,0.39,4
39097,97742,31,45000,6.0,19450,9.91,0.44,9

In [293]:
test_final = pd.concat([test_without_categorical.reset_index(drop=True), test_encoded_df.reset_index(drop=True)], axis=1)

In [294]:
test_final

,id,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_OTHER,person_home_ownership_OWN,...,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G,cb_person_default_on_file_Y
0,58645,23,69000,3.0,25000,15.76,0.36,2,0,0,...,0,0,0,0,0,0,0,1,0,0
1,58646,26,96000,6.0,10000,12.68,0.10,4,0,0,...,0,1,0,0,1,0,0,0,0,1
2,58647,26,30000,5.0,4000,17.19,0.13,2,0,0,...,0,0,1,0,0,0,1,0,0,1
3,58648,33,50000,4.0,7000,8.90,0.14,7,0,0,...,0,0,0,0,0,0,0,0,0,0
4,58649,26,102000,8.0,15000,16.32,0.15,4,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39093,97738,22,31200,2.0,3000,10.37,0.10,4,0,0,...,0,0,0,1,0,0,0,0,0,0
39094,97739,22,48000,6.0,7000,6.03,0.15,3,0,0,...,0,0,0,0,0,0,0,0,0,0
39095,97740,51,60000,0.0,15000,7.51,0.25,25,0,0,...,0,1,0,0,0,0,0,0,0,0
39096,97741,22,36000,4.0,14000,15.62,0.39,4,0,0,...,0,1,0,0,0,1,0,0,0,1
39097,97742,31,45000,6.0,19450,9.91,0.44,9,0,0,...,0,0,0,1,0,0,0,0,0,0

In [295]:
testttt = test_final.drop(columns=['id'])

In [296]:
testttt

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,...,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G,cb_person_default_on_file_Y
0,23,69000,3.0,25000,15.76,0.36,2,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,26,96000,6.0,10000,12.68,0.10,4,0,0,0,...,0,1,0,0,1,0,0,0,0,1
2,26,30000,5.0,4000,17.19,0.13,2,0,0,1,...,0,0,1,0,0,0,1,0,0,1
3,33,50000,4.0,7000,8.90,0.14,7,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,26,102000,8.0,15000,16.32,0.15,4,0,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39093,22,31200,2.0,3000,10.37,0.10,4,0,0,0,...,0,0,0,1,0,0,0,0,0,0
39094,22,48000,6.0,7000,6.03,0.15,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39095,51,60000,0.0,15000,7.51,0.25,25,0,0,0,...,0,1,0,0,0,0,0,0,0,0
39096,22,36000,4.0,14000,15.62,0.39,4,0,0,0,...,0,1,0,0,0,1,0,0,0,1
39097,31,45000,6.0,19450,9.91,0.44,9,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [297]:
sc.fit(testttt)
test_scaled=sc.transform(testttt)

In [298]:
test_scaled

array([[-0.75700653,  0.13014081, -0.43612143, ..., 19.27075257,
        -0.02146145, -0.42034944],
       [-0.25971541,  0.8415031 ,  0.33940391, ..., -0.05189211,
        -0.02146145,  2.37897307],
       [-0.25971541, -0.8973825 ,  0.08089546, ..., -0.05189211,
        -0.02146145,  2.37897307],
       ...,
       [ 3.88437726, -0.10697995, -1.21164676, ..., -0.05189211,
        -0.02146145, -0.42034944],
       [-0.92277024, -0.73930199, -0.17761298, ..., -0.05189211,
        -0.02146145,  2.37897307],
       [ 0.56910312, -0.50218123,  0.33940391, ..., -0.05189211,
        -0.02146145, -0.42034944]])

In [299]:
predictions = log.predict(test_scaled)

c:\Users\hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [300]:
predictions_df = pd.DataFrame({
    'id': test_final['id'],        
    'loan_status': predictions         
})

In [301]:
predictions_df

          id  loan_status
0      58645            1
1      58646            0
2      58647            1
3      58648            0
4      58649            0
...      ...          ...
39093  97738            0
39094  97739            0
39095  97740            0
39096  97741            1
39097  97742            1

[39098 rows x 2 columns]

In [302]:
predictions_df.to_csv('loan_predictions_new.csv', index=False)